<div>
    <h2> PAGINA CARRITO </h2>
    <div>
        <div>Mi Carrito: </div>
        <button>agregar producto al carrito</button>
        <button>eliminar producto el carrito</button>
        <button>eliminar todos los productos del carrito</button>
        <div>
            <h4>Productos del carrito:</h4>
            {{!-- {{carrito}} --}}
            <ul>
                {{#each carrito}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" onclick="location.href='/api/randoms/'">Ir a pagina de Nros randoms</button>

        <button class="btn btn-secondary" onclick="location.href='/api/info/'">Ir a pagina de informacion</button>
    </div>
</div>