<div>
    <h2> PAGINA CHAT WEBSOCKET </h2>
    <div>
        <h1 class="titulo">Ingrese un nuevo mensaje</h1>
        <div class="Mensajeria">
            <form id="formularioMjs">
                <!-- autor -->
                <input type="email" name="idForm" placeholder="Email" id="msj_input" required />
                <input type="text" name="nombreForm" placeholder="Nombre" id="msj_input" required />
                <input type="text" name="apellidoForm" placeholder="Apellido" id="msj_input" required />
                <input type="number" name="edadForm" placeholder="Edad" id="msj_input" required />
                <input type="text" name="aliasForm" placeholder="Alias" id="msj_input" required />
                <input type="text" name="avatarForm" placeholder="Avatar" id="msj_input" required />
                <!-- mensaje -->
                <textarea type="text" name="msjForm" placeholder="Mensaje" id="msj_input" rows="3" required />
                <button type="submit" id="msj_input">Enviar</button>
            </form>
        </div>

        <h3 class="titulo">Comprension de mensajes: </h3>
        <div class="Mensajeria" id="contenedorCompresion"></div>

        <h2 class="titulo">Chat Mensajes:</h2>
        <div class="Mensajeria" id="contenedorMensajes"></div>
    </div>
</div>