<div>
    <h1> ERROR EN {{ lugarError }}</h1>
    <br>
    <h3>{{ infoError }}</h3>
    <br>
    <button class="btn btn-primary" onclick="location.href='/api/autenticacion/login'" type="submit">
        VOLVER A HOME </button>
</div>