<div>
    <h2 class="titulo"> PAGINA DE FABRICA DE PRODUCTOS ONLINE</h2>
    <div>
        <h3 class="titulo">Contenedor de Productos:</h3>
        <div class="nuevoProducto" id="contenedorProductos"></div>
        <br>
        <div class="nuevoProducto">
            <h3 class="titulo">Ingrese los datos correspondientes para crear un producto:</h3>
            <br>
            <form action="/api/productos/" method="post">
                <input type="text" name="titulo" placeholder="Titulo" class="nuevoProd_input" required />
                <input type="number" name="precio" placeholder="Precio" class="nuevoProd_input" required />
                <input type="file" name="imagen" placeholder="Enlace imagen" class="nuevoProd_input" required />
                <input type="text" name="codigo" placeholder="Codigo" class="nuevoProd_input" required />
                <input type="text" name="descripcion" placeholder="Descripción" class="nuevoProd_input" required />
                <input type="number" name="stock" placeholder="Stock" class="nuevoProd_input" required />
                <button type="submit" id="nuevoProd_input"> Crear </button>
            </form>
        </div>
        <br>
        <div class="productoActualizado">
            <h3 class="titulo">Ingrese los los datos para actualizar un producto:</h3>
            <br>
            <form action="/api/productos/actualizar/" method="put">
                <input type="text" name="id" placeholder="Id del producto" class="nuevoProd_input" required />
                <input type="text" name="titulo" placeholder="Titulo" class="nuevoProd_input" required />
                <input type="number" name="precio" placeholder="Precio" class="nuevoProd_input" required />
                <input type="text" name="imagen" placeholder="Enlace imagen" class="nuevoProd_input" required />
                <input type="text" name="codigo" placeholder="Codigo" class="nuevoProd_input" required />
                <input type="text" name="descripcion" placeholder="Descripción" class="nuevoProd_input" required />
                <input type="number" name="stock" placeholder="Stock" class="nuevoProd_input" required />
                <button type="submit" id="nuevoProd_input"> Actualizar </button>
            </form>
        </div>
        <br>
        <div class="producto/sEliminados">
            <h3 class="titulo">Eliminar un/todos los producto/s:</h3>
            <br>
            <form action="/api/productos/" method="delete">
                <h5>Input Id opcional</h5>
                <input type="text" name="id" placeholder="Id del producto" class="nuevoProd_input" required />
                <button type="submit" id="nuevoProd_input"> Eliminar </button>
            </form>
        </div>
    </div>
    <div>
        <button class="btn btn-secondary" onclick="location.href='/api/carrito/{{carritoID}}'">
            Ir a pagina de Carrito
        </button>
    </div>
</div>

{{!-- <input type="number" name="cantidad" placeholder="Cantidad" class="nuevoProd_input" required /> --}}