<div>
    <h2> PAGINA PEDIDOS DE COMPRA </h2>
    <br>
    <div id="contenedorPedidos"></div>
    <br>
    <div>
        <button class="btn btn-danger" onclick="location.href='/api/autenticacion/logout'">Cerrar Sesion</button>
        <br>
        <button class="btn btn-secondary" onclick="location.href='/api/carrito/{{carritoID}}'">
            Ir a pagina de Carrito
        </button>
        <br>
        <button class="btn btn-danger" onclick="location.href='/api/chat/'"> Ir a pagina de Chat </button>
    </div>
</div>