<div>
    <div>
        <h2> PAGINA INFO DEL SERVIDOR </h2>
        <br>
        <ul>
            <li>Fecha: {{datos.fecha}}</li>
            <li>Puerto: {{datos.puerto}}</li>
            <li>Process Id: {{datos.pid}}</li>
            <li>Tiempo expiracion de sesion: {{datos.ttl}}</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" onclick="location.href='/api/randoms/'">Ir a pagina de Nros randoms</button>
        <br>
        <button class="btn btn-secondary" onclick="location.href='/api/carrito/compra'">Ir a pagina de Carrito</button>
    </div>
</div>